{% load booking_tags %}
{% block content %}
  {% for ban in bans %}
  <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Service</th>
        <th>Reason</th>
        <th>Start Date</th>
        <th>Remaining</th>
      </tr>
      <tr>
        <td>{{ ban.booker.user.first_name }} {{ ban.booker.user.last_name }}</td>
        <td>{{ ban.service_type }}</td>
        <td>{{ ban.reason }}</td>
        <td>{{ ban.start_date }}</td>
        <td>{{ ban|remaining_time }} days</td>
      </tr>
  </table>
    {% empty %}
    <p>No bans at this time.</p>
  {% endfor %}
{% endblock %}
