{% load booking_tags %}

<h2>Bookings for {{ calendar.day }} - {{calendar.month}} - {{calendar.year}} </h2>
    <table class="table table-striped">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Booking</th>
      </tr>
      {% for booking, hour in bookings %}
       <tr>
         <td>{{ hour|hour_to_time:service.service_type.block_size }}</td>
          {% if booking != None %}
            <td>
              {% if user.is_staff or booking.booker.user == user %}
                <a href="{% url 'delete_booking' booking.id %}" class="btn btn-sm btn-primary">
                  {{booking.booker.user.first_name}} {{booking.booker.user.last_name}} - {{booking.booker.room}}
                </a>
              {% else %}
                <div class="btn btn-sm btn-danger">BOOKED - {{booking.booker.room}} </div>
              {% endif %}
            </td>
          {% else %}
            <td>
              <a href="{% url 'create_booking' serviceid=service.id year=calendar.year month=calendar.month day=calendar.day hour=hour %}">
                Book
              </a>
            </td>
          {% endif %}
        </tr>
      {% empty %}
        <p>No bookings available at this time.</p>
      {% endfor %}
    </table>
