{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "About" %}
{% endblock %}

{% block content %}

<div class="container">
  <h1>{% trans "About website" %} </h1>
  <p>
    {% blocktrans %}
    Website is a dormitory service reservation system that helps students and visitors easily book rooms and services online.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
    If you have any questions or feedback, please don't hesitate to <a href="admin@podres.com">contact us</a>.
    {% endblocktrans %}
  </p>
</div>
<div class="container">
  <h1>{% trans "Service descriptions and rules" %}</h1>
  {% for service_type in service_types %}
    <h2>{% trans service_type.name %}</h2>
    <p>{% trans service_type.description %}</p>
  {% empty %}
    <p>{% trans 'No service types available' %}.</p>
  {% endfor %}
</div>

{% endblock %}
