{% extends 'base.html' %}

{% block title %}
  Booking Detail
{% endblock %}

{% block content %}
  <h1>Booking Detail</h1>
  <table class="table">
    <tr>
      <th>Room:</th>
      <td>{{ booking.booker.room }}</td>
    </tr>
    <tr>
      <th>User:</th>
      <td>{{ booking.booker.user.first_name }} {{booking.booker.user.last_name}}</td>
    </tr>
    <tr>
      <th>Date:</th>
      <td>{{ booking.date }}</td>
    </tr>
    <tr>
      <th>Hour:</th>
      <td>{{ booking.hour }}</td>
    </tr>
  </table>
  <div class="d-flex justify-content-end">

  </div>
{% endblock %}
