{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<center>
  <h1>{{ service.service_type.name }} - {{ service.name }}</h1>
  <p>Description: {{ service.description }}</p>
  {{calendarhtml|safe}}
  <h1>Bookings for {{ calendar.day }} - {{calendar.month}} - {{calendar.year}} </h1>
    <table class="table">
      <tr>
        <th>Time</th>
        <th>Room</th>
      </tr>
      {% for booking, time in bookings %}
        <tr>
          <td>{{ time }}</td>
          {% if booking != None %}
            <td> {{booking.room}}</td>
          {% else %}
            <td> None </td>
          {% endif %}
        </tr>
      {% empty %}
        <p>No bookings available at this time.</p>
      {% endfor %}
    </table>
</center>
{% endblock %}


