{% extends 'base.html' %}

{% block title %}
  {{ service.service_type.name }} - {{ service.name }}
{% endblock %}

{% block content %}
<center>
  <h1>{{ service.service_type.name }} - {{ service.name }}</h1>
  <p><b>Restrictions:</b> {{service.service_type.restriction_value}}x{{service.service_type.block_size}}h/{{service.service_type.restriction_type}}</p>
  {{calendar.gethtml|safe}}


  {% include 'widgets/timetable.html' with bookings=bookings title="Ongoing bookings" calendar=calendar %}
</center>
{% endblock %}
