{% extends 'base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
  <h1>Available Services</h1>
  <div class="service-list">
    {% for service_type in service_types %}
      <div class="service-type">
        {% if service_type.0.service_type.image %}
          <img src="{{ service_type.0.service_type.image.url }}" alt="{{ service_type.0.service_type.name }}">
        {% else %}
          <img src="{% static 'images/default_service.png' %}" alt="{{ service_type.0.service_type.name }}">
        {% endif %}

        <h2>{{ service_type.0.service_type.name }}</h2>
        <p>{{ service_type.0.service_type.description }}</p>

        <div class="services">
          {% for service in service_type %}
            <a href="{% url 'service_detail' service.id %}"
              {% if not service.is_available %}
                class="service-unavailable"
              {% endif %}>
              <div class="service">
                <h3>{{ service.name }}</h3>
              </div>
            </a>
          {% empty %}
            <p>No services available</p>
          {% endfor %}
        </div>
      </div>
    {% empty %}
      <p>No services available</p>
    {% endfor %}
  </div>

{% endblock %}
