{% extends 'base.html' %}
{% load booking_tags %}
{% load i18n %}

{% block title %}
  {% trans 'User profile' %}
{% endblock %}

{% block content %}
  <h1>{% trans 'User profile' %}</h1>
  {% if boooker.user.is_staff %}
    <p><b>{% trans 'STAFF' %}</b></p>
  {% endif %}

<p><b>{% trans 'Username' %}:</b> {{ booker.user }}</p>
<p><b>{% trans 'Name' %}:</b> {{ booker.user.first_name }} {{ booker.user.last_name }}</p>
<p><b>{% trans 'Room' %}:</b> {{ booker.room }}</p>

{% include 'widgets/bookings.html' with bookings=ongoing title=_("Ongoing bookings") %}
{% include 'widgets/bookings.html' with bookings=pending title=_("Pending bookings") %}
{% include 'widgets/bookings.html' with bookings=past title=_("Past bookings") %}
{% include 'widgets/bans.html' with bans=bans title=_("Bans") %}

{% endblock %}
