{% extends 'base.html' %}
{% load booking_tags %}
{% load i18n %}

{% block title %}
  {% trans 'User profile' %}
{% endblock %}

{% block content %}
  <h1>{% trans 'User profile' %}</h1>
  {% if boooker.user.is_staff %}
    <p><b>{% trans 'STAFF' %}</b></p>
  {% endif %}

<p><b>{% trans 'Username' %}:</b> {{ booker.user }}</p>
<p><b>{% trans 'Name' %}:</b> {{ booker.user.first_name }} {{ booker.user.last_name }}</p>
<p><b>{% trans 'Room' %}:</b> {{ booker.room }}</p>

<h2>{% trans 'Actions' %}</h2>

{% include 'widgets/bookings.html' with bookings=ongoing title="Ongoing bookings" %}
{% include 'widgets/bookings.html' with bookings=pending title="Pending bookings" %}
{% include 'widgets/bookings.html' with bookings=past title="Past bookings" %}
{% endblock %}
